h1 {
    text-align: center;
    color: whitesmoke;
}

body {
    background-image: url(images/hawaii.jpg);
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Peralta', cursive;
    color: whitesmoke;
}